{% extends 'app1/base.html' %} {% block content %}
<h1>Posts</h1>

<div class="card" style="width: 18rem">
	<img src="{{post.posts}}" class="card-img-top" alt="..." />
	<div class="card-body">
		<p class="card-text">{{post.caption}}</p>
	</div>
</div>

{% comment %}
<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Caption</th>
			<th>Posts</th>
		</tr>
	</thead>
	<tbody>
		{% for post in posts %}
		<tr>
			<td>{{post.title}}</td>
			<td>{{post.caption}}</td>
			<td>{{post.posts}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endcomment %} {% endblock content %}
