{% extends 'insta/base.html' %} 
{% block content %}
    <div class="row ">
        <div class="col-lg-12 col-md-12">
            <div class=" border-bottom mb-4">
                <div class="row">
                    <div class="col-sm-4 user-profile">
                        <div class="card-body text-center">
                            <div class="m-b-25">
                                <img
                                    src="{{ user.profile.image.url }}"
                                    class="rounded-circle"
                                    style="width: 110px"
                                    ;
                                    height="100px"
                                    alt="User-Profile-Image"
                                />
                            </div>
                            <p class="font-weight-normal mb-1">Follow me on</p>
                            <span class="ml-2">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-youtube"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="card-title">{{user.username}}</p>
                                    <p class="card-text font-weight-bold">{{ user.profile.name}}</p>
                                </div>
                                <div class="col-sm-4">
                                    <a
                                        href="{% url 'edit' %}"
                                        class="btn btn-outline-info"
                                        role="buttton"
                                        aria-pressed="true"
                                        >Edit Profile</a
                                    >
                                </div>

                                <div class="col-sm-6">
                                    <p class="card-text">{{ user.profile.bio}}</p>
                                    <a href="#" class="card-link">{{ user.profile.website }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block sidepanel %} {% endblock sidepanel %}
