{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Title</title>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		{% comment %}
		<link rel="stylesheet" href="{% static 'insta/main.css' %}" />
		{% endcomment %}

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		{% comment %}
		<link rel="stylesheet" href="insta/navbar.css" />
		{% endcomment %}

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
	</head>

	<body>
		<div class="container">
			{% include "insta/navbar.html" %} {% if user.is_authenticated %}
			<div class="d-flex justify-content-end mt-2">
				<a
					href="{% url 'insta-upload_post' %}"
					class="btn btn-primary btn-sm active"
					role="button"
					data-toggle="tooltip"
					data-placement="top"
					title="New Post"
					aria-pressed="true"
				>
					<i class="fa fa-plus" aria-hidden="true"></i>
				</a>
			</div>
			{% endif %}
			{% block override_this %}
				<div class="row mt-2">
					<div class="col-md-8">
						{% if messages %}
							{% for message in messages %}
								<div
									class="d-flex justify-content-center  alert alert-{{message.tags}}"
								>
									<p>{{message}}</p>
								</div>

							{% endfor %}
						{% endif %} 
						{% block content %} {% endblock content%}
					</div>

					{% block sidepanel %} 
						{% include 'insta/sidepanel.html' %}
					{% endblock %}
				</div>
			{% endblock override_this %}
		</div>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
