{% extends 'insta/base.html' %}
{% block content %}
<h2>Home Page </h2>
{% for post in posts%}
<div class="container d-flex justify-content-center mb-5">

    <div class="card" style="width: 18rem">
        <a class="mr-2" href="#">{{ post.instagrammer }}</a>
        <img src="{{post.posts.url}}" class="card-img-top" alt="..." />
        <div class="card-body">
            <p class="card-text">{{post.caption}}</p>
        </div>
    </div>
</div>

{% endfor %} {% endblock content %} /div>
</div>