{% include 'users/profile.html' %}
    <div class="container">
        <div class="row mb-2">
            {% for post in posts %}
                <div class="col-sm-6 col-md-4 mb-4">
                    <div class="card h-100">
                            {% comment %} <div class="card-header">
                                <img
                                    class="rounded-circle my-1 ml-2"
                                    style="height: 45px; width: 45px"
                                    src="{{ post.instagrammer.profile.image.url }}"
                                />  
                            </div>  {% endcomment %}
                            
                            <img 
                                src="{{post.posts.url}}" 
                                class="card-img-top" 
                                style="width: auto; height: 250px; object-fit: scale-down" 
                                alt="..." 
                            />
                            <div class="card-body">
                                <p class="card-text">{{post.caption}}</p>
                            </div>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>
{% block override_this %} {% endblock override_this %}


